<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="cartItems$ | async as items">
    <app-cart-item [item]="item" *ngFor="let item of items; trackBy: trackByItem">
    </app-cart-item>
    <div *ngIf="(totalPrice$ | async) > 0" id="price">
      <h1>
        Do zapłaty
      </h1>
      <h2>
        {{(totalPrice$ | async).toFixed(2)}}zł
      </h2>
    </div>

    <div *ngIf="(totalPrice$ | async) === 0" id="no-products">
      <h1>
        Koszyk jest pusty.
      </h1>
      <ion-button (click)="goToHome()">
        Przejdź do sklepu
      </ion-button>
    </div>

  </ng-container>
</ion-content>