<ion-header>
    <ion-toolbar>
        <ion-title>{{product.name}}</ion-title>
        <ion-buttons slot="primary">
            <ion-tab-button (click)="goToCart()">
                <ion-icon name="cart"></ion-icon>
                <ion-label>Koszyk</ion-label>
                <ion-badge color="primary" *ngIf="(numberOfItems$ | async) > 0;">
                    {{(numberOfItems$ | async)}}
                </ion-badge>
            </ion-tab-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <img src={{product.imageUrl}} />
        <h2>
            {{product.price}}zł
        </h2>
        <ion-card>
            <ion-card-content>
                {{product.description}}
            </ion-card-content>
        </ion-card>
        <ion-button (click)="addToCart()">
            Dodaj do koszyka
        </ion-button>
        <app-comment-form [productId]="product.id"></app-comment-form>
        <app-comment-list [productId]="product.id"></app-comment-list>
    </div>
</ion-content>