<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="primary">
      <ion-tab-button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Koszyk</ion-label>
        <ion-badge color="primary" *ngIf="(numberOfItems$ | async) > 0;">
          {{(numberOfItems$ | async)}}
        </ion-badge>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-product-list></app-product-list>
  </div>
</ion-content>